<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<ul>
    {% for i in data %}
        <li>{{ i.name }}</li>
    {% empty %}
        <h3>没有数据了</h3>
    {% endfor %}

</ul>

<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page.has_previous %}
            <li>
                <a href="/lianxi/data?page={{ page.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
        {% else %}
            <li>
                <a href="/lianxi/data?page=1" aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
        {% endif %}



        {% for foo in page_range %}
            {% if foo == page.number %}
              <li>{{ foo }}</li>

            {% else %}
                <li><a href="/lianxi/data?page={{ foo }}">{{ foo }}</a></li>
            {% endif %}
        {% endfor %}





        {% if page.has_next %}
            <li>
                <a href="/lianxi/data?page={{ page.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
        {% else %}
            <li>
                <a href="/lianxi/data?page={{ page_count }}" aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
        {% endif %}


    </ul>
</nav>
</body>
</html>