<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form action="{% url 'login_app:reset' %}" method="post">
        {% csrf_token %}
            <br>
           用户名： <input type="text" value="{{fname}}" name="fname">
            <br>
        请输入重置密码：<input type="password" name="pwd1">
        <br>
            请再次输入：<input type="password" name="pwd2">
            <br>
        <input type="submit" value="提交">
    </form>
</body>
</html>