<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
    <form action="{% url 'app06:login' %} " method="post">
        {% csrf_token %}

        <input type="text" placeholder="输入用户名或手机号" name="user_info">
        <br>
        <input type="password" placeholder="密码" name="pwd">
        <br>
        <input type="text" placeholder="验证码(忽略大小写)" name="code"  >
        <br>

        <img src="/app06/img" id="myimg">
        <br>
        <input type="submit" value="登录">

    </form>
</body>
    <script type="text/javascript">
        $(function () {
            $('#myimg').click(function () {

                $(this).attr('src',"/app06/img" + Math.random() )
            })
        })
    </script>
</html>