<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/add_student/" method="post">
        <input type="text" placeholder="学生姓名" name="s_name">
        <br>
        <input type="text" placeholder="学生年纪" name="s_age">
        <br>
        <input type="text" placeholder="python成绩" name="p_score">
        <br>
        <input type="text" placeholder="english成绩" name="e_score">
        <br>
        <input type="text" placeholder="所属班级" name="cls_id">
        <br>
        <input type="submit" value="新增">

    </form>
</body>
</html>